body {
	background-color: #000
}
a:hover {
	text-decoration: none;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#page {
	width: 1920px;
	height: 1080px;
	position: relative;
	z-index: 100;
}
#building__canvas--box {
	position: absolute;
	width: 1210px;
	height: 670px;
	left: 50%;
	top: 125px;
	overflow: hidden;
	transform: translateX(-50%);
	/*background: linear-gradient( #000101,#0c222b, #091c23, #000101);*/
	z-index: 1;
}
#building__canvas--elevator{
	position: absolute;
	width: 1130px;
	height: 770px;
	/*background: url("../img/elevator_main.gif") no-repeat 50% 50%;*/
	left: 50%;
	top: 125px;
	transform: translateX(-50%);
	overflow: hidden;
	z-index: 1;
}
.main-header--box {
	position: relative;
	width: 1920px;
	height: 123px;
	background: url("../img/logo_decorate.png") no-repeat center bottom;
	text-align: center;
	z-index: 1040;
}
.main-header {
	padding: 2rem 0;
	line-height: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo {
	font-size: 3rem;
	color: #bbd9e0;
}
.main-home-bg{
	background: url("../img/main_bg.jpg") no-repeat;
}
.main-cate-bg{
	background: url("../img/cate_main_bg.png") no-repeat;
}
.main-menu-bg{
	background: url("../img/menu_bg.png") no-repeat;
}
.red {
	color: #f92801!important;
}
.sn-home-link{
	position: absolute;
	background: url("../img/home.png") no-repeat;
	width: 35px;
	height: 29px;
	left: 22px;
	top: 30px;
	overflow: hidden;
	text-indent: -99em;
}
.sn-quick-menu{
	position: absolute;
	right: 0;
	top: 0;
	height: 90px;
}
.sn-quick-menu .menu-item{
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}
.sn-menu{
	position: relative;
}
.sn-menu .menu-hd{
	width: 88px;
	height: 88px;
	display: block;
	overflow: hidden;
}
.sn-menu .menu-bd{
	display: none;
	position: absolute;
	right: 0;
	background-color: #032a33;
}
.sn-menu:hover .menu-hd{
	background-color: #032a33;
}
.sn-menu:hover .menu-bd{
	display: block;
}
.sn-quick-menu .sn-bell{
	width: 88px;
	height: 88px;
	background: url("../img/bell.png") no-repeat 50% 50%;
}
.sn-quick-menu .sn-bell a{
	width: 100%;
	height: 100%;
	line-height: 88px;
	color: #05252b;
	font-size: 1.125rem;
}
.sn-quick-menu .sn-profile{
	width: 88px;
	height: 88px;
}
.sn-profile .menu-hd{
	background: url("../img/profile.png") no-repeat center center;
	text-indent: -99em;
}
.menu-bd-panel{
	width: 245px;
}
.menu-bd-panel a{
	display: block;
	font-size: 1.625rem;
	border-bottom: 2px solid #033843;
	color: #02b3bb;
}
.menu-bd-panel a:last-child{
	border-bottom: none;
}
.menu-bd-panel a:hover, .menu-bd-panel a:active{
	color: #76dfe4;
}
.message-box{
	position: absolute;
	width: 244px;
	left: 370px;
	top: 198px;
	z-index: 999;
	display: none;
}
.tower-message{
	top: 173px;
	left: 410px;
}
.message-main{
	border: 1px solid rgba(19, 57, 71, .9);
	background-color: rgba(2, 18, 25, .9);
	padding: 15px 0 15px 25px;
	margin-bottom: 12px;
	position: relative;
}
.message-main .decorate-line{
	position: absolute;
	background: url("../img/flow_line.png");
	width: 127px;
	height: 1px;
	left: 0;
	top: -1px;
	animation: animated_line 5s cubic-bezier(0.22, 0.61, 0.36, 1) infinite
	/*animated_line 5s cubic-bezier(0, 0, 0.2, 1) 1s infinite alternate*/
}
@-webkit-keyframes animated_line{
	0%		{left:0px;}
	25%		{left:0px;}
	50%		{left:116px;}
	55%		{left:116px;}
	70%		{left:116px;}
	100%	{left:0px;}
	/*0%		{left:0px;}*/
	/*50%		{left:116px;}*/
	/*100%	{left:0px;}*/
}
@keyframes animated_line{
	0%		{left:0px;}
	25%		{left:0px;}
	50%		{left:116px;}
	55%		{left:116px;}
	70%		{left:116px;}
	100%	{left:0px;}
	/*0%		{left:0px;}*/
	/*50%		{left:116px;}*/
	/*100%	{left:0px;}*/
}
.message-main span{
	position: absolute;
	width: 12px;
	height: 18px;
	background-image: url("../img/decorate.png");
	background-repeat: no-repeat;
}
.message-main .tria-tl{
	background-position: 0 0;
	top: -4px;
	left: -4px;
}
.message-main .tria-tr{
	background-position: -14px 0;
	right: -4px;
	top: -4px;
}
.message-main .tria-br{
	background-position: -14px -75px;
	right: -4px;
	bottom: -4px;
}
.message-main .tria-bl{
	background-position: 0 -75px;
	left: -4px;
	bottom: -4px;
}
.message-list{
	height: 310px;
	overflow-y: auto;
}
.message-list::-webkit-scrollbar {
	width: 6px;
	height: 1px;
}
.message-list::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: linear-gradient(to right, #04676c, #0c2935);
}
.message-list::-webkit-scrollbar-track {
	box-shadow: 0 0 4px rgba(27, 81, 91, .75);
	background: #0c2028;
	border-radius: 2px;
	width: 8px;
}
.message-list p{
	position: relative;
	color: #08c055;
	font-size: 1rem;
	line-height: 20px;
	margin-bottom: 5px;
	list-style-type: square;
	padding-left: 10px;
}
.message-list p::before{
	position: absolute;
	content: '';
	width: 4px;
	height: 4px;
	background-color: #08c055;
	left: 0;
	top: 8px;
}
.bell .message-list p{
	color: #f92801;
}
.bell .message-list p a{
	color: #f92801;
}
.bell .message-list p::before{
	background-color: #f92801;
}
.monitor-con{
	width: 1672px;
	height: 860px;
	background: url("../img/border_bg_larger.png") no-repeat;
	overflow: hidden;
	margin: 40px auto 0;
}
.monitor-inner-con{
	border: 2px solid #038f95;
	border-radius: 6px;
	width: 1585px;
	height: 685px;
	margin: 90px 0 0 40px;
	padding: 1px;
}
.monitor-border{
	border: 4px solid #03686c;
	box-shadow: 0 0 4px #039aa1 inset;
	border-radius: 4px;
	width: 1579px;
	height: 679px;
	overflow-y: auto
}
.monitor-border::-webkit-scrollbar {/*滚动条整体样式*/
	width: 12px;     /*高宽分别对应横竖滚动条的尺寸*/
	height: 1px;
}
.monitor-border::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
	border-radius: 10px;
	background: linear-gradient(to right, #04676c, #0c2935);
}
.monitor-border::-webkit-scrollbar-track {/*滚动条里面轨道*/
	box-shadow: 0 0 4px rgba(27, 81, 91, .75);
	background: #0c2028;
	border-radius: 2px;
	width: 16px;
}
.monitor-con-squar{
	width: 1372px;
	height: 931px;
	background: url("../img/border_bg_squar.png") no-repeat;
	overflow: hidden;
	margin: 10px auto 0;
}
.monitor-con-squar .monitor-inner-con{
	width: 1292px;
	height: 812px;
	margin-top: 60px;
}
.monitor-con-squar .monitor-border{
	width: 1288px;
	height: 808px;
}
.monitor-con-squar iframe{
	border: 0 none;
}
.monitor-info-table{
	width: 100%;
	border-collapse: collapse;
}
.monitor-info-table .clip-path{
	/*border-top: 70px solid transparent;*/
	/*width: 0px;*/
	/*height: 0px;*/
	/*border-left: 300px solid transparent;*/
	/*position: relative;*/
	position: relative;
	width: 300px;
	height: 70px;
}
.monitor-info-table .clip-path::before{
	width: 1px;
	height: 311px;
	background-color: #115056;
	content: "";
	position: absolute;
	transform: rotate(-76.7deg);
	transform-origin: top;
	left: -2px;
	top: -1px;
}
.monitor-info-table .clip-path b{
	position: absolute;
	font-weight: normal;
	top: 5px;
	right: 25px;
}
.monitor-info-table .clip-path em{
	position: absolute;
	font-style: normal;
	bottom: 5px;
	left: 25px;
}
.monitor-info-table th, .monitor-info-table td{
	text-align: center;
	color: #65d9df;
	font-size: 1.75rem;
	border-right: 1px solid #115056;
	font-weight: normal;
}
.monitor-info-table th{
	background-color: rgba(6, 159, 166, .8);
	color: #0d222c;
	height: 70px;
}
.monitor-info-table td{
	height: 60px;
}
.monitor-info-table td:last-child{
	border: 0 none;
}
.monitor-info-table tr:nth-child(odd) td{
	background-color: rgba(11, 61, 77, .8);
}
.monitor-info-table tr:nth-child(even) td{
	background-color: rgba(9, 45, 55, .8);
}
.main-simple-bg{
	background: url("../img/main_bg.jpg") no-repeat;
}
.aside-content{
	width: 320px;
}
.left-side{
	float: left;
	margin: 50px 0 0 60px;
}
.right-side{
	float: right;
	margin: 50px 60px 0 0;
}
.list-item{
	position: relative;
	border: 1px solid #0b3840;
	border-left: 2px solid #02959b;
	text-align: center;
	margin-bottom: 40px;
}
.list-item::before{
	content: '';
	background: url("../img/hard_line.png") no-repeat;
	width: 15px;
	height: 68px;
	position: absolute;
	left: -13px;
	top: -5px
}
.cell-header{
	background-color: #092933;
	height: 54px;
}
.cell-header h3{
	font-size: 1.375rem;
	color: #04bec6;
	line-height: 54px;
	margin: 0;
}
.cell-body{
	background-color: #0e2129;
}
.cell-body p{
	font-size: 1.75rem;
	color: #82bccd;
	line-height: 54px;
	margin: 0;
}
.cell-body .roll-img{
	margin: 10px 0;
}
.cell-body .roll-text{
	position: absolute;
	right: 15px;
	bottom: 0;
}
.slide-controls{
	position: absolute;
	width: 38px;
	height: 43px;
	top: 8px;
}
.left-controls{
	background: url("../img/arrow_left.png");
	left: 0;
	margin-left: -75px;
}
.right-controls{
	background: url("../img/arrow_right.png");
	right: 0;
	margin-right: -75px;
}
.slide-content{
	position: fixed;
	width: 1388px;
	height: 54px;
	bottom: 45px;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 999;
}
.slide-panel{
	height: 54px;
}
.slide-item{
	position: relative;
	float: left;
	margin-right: 20px;
	cursor: pointer;
}
.slide-item:last-child{
	margin-right: 0;
}
.slide-item .dt-line{
	position: absolute;
	left: 50%;
	width: 0;
	height: 200px;
	border-left: 1px solid #4b9193;
	transform: translate(0, 120px);
	transition: transform .4s ease-in-out;
}
.slide-item .slideItem-text{
	background-image: url("../img/tb.png");
	background-repeat: no-repeat;
	width: 156px;
	height: 54px;
	line-height: 54px;
	font-size: 1.5rem;
	color: #8dd8ff;
	text-align: center;
	transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94) .2s;
}
.slide-item:hover .dt-line, .slide-item.current .dt-line{
	transform: translate(0, -10px);
}
.slide-item:hover .slideItem-text, .slide-item.current .slideItem-text{
	transform: translate(0, -30px);
}
.slide-item.red .dt-line{
	border-color: #f92801;
}
.slide-item.red .slideItem-text{
	background-image: url("../img/tb_red.png");
	color: #f92801;
}