.electric-monitor--box {
	position: absolute;
	left: 40px;
	top: 135px;
	height: 460px;
	z-index: 1020;
}

.monitor--title {
	background: url("../img/title_bg.png") no-repeat;
	width: 132px;
	height: 47px;
	font-size: 1.25rem;
	color: #8dd8ff;
	text-align: center;
	line-height: 48px;
	margin-bottom: 12px;
}

.monitor--title.larger {
	background: url("../img/title_bg_larger.png") no-repeat;
	width: 168px;
}

.electric-monitor--content {
	position: relative;
	width: 300px;
	height: 460px;
	border-top: 1px solid #57a7aa;
	border-bottom: 1px solid #57a7aa;
}

.electric-monitor--subTitle {
	background: url("../img/subtitle_bg.png") no-repeat;
	font-size: 1.125rem;
	color: #73c0cb;
	width: 107px;
	height: 21px;
	line-height: 20px;
	padding-left: 22px;
	margin-bottom: 11px;
	margin-top: 20px;
}

.analysis-main {
	position: relative;
	background: url("../img/rulers.png") no-repeat;
	width: 280px;
	height: 34px
}

.switch-main {
	background: url("../img/switch_bg.png") no-repeat;
	width: 125px;
	height: 40px;
}

.switch-main span[class^="switch-"] {
	float: left;
	line-height: 40px;
	color: #239bb3;
	font-size: 1.125rem;
	text-shadow: 1px 1px 0 rgba(10, 50, 58, 0.75);
}

.switch-main .switch-on {
	margin: 0 0 0 20px;
}

.switch-main .switch-off {
	margin: 0 0 0 24px;
}

.switch-main .switch-on.active {
	color: #08c055;
	text-shadow: 0 0 4px rgba(8, 192, 85, 0.5);
}

.switch-main .switch-off.active {
	color: #f92801;
	text-shadow: 0 0 4px rgba(249, 40, 1, 0.5);
}

.short-monitor {
	float: left;
}

.breaker-monitor {
	float: left;
	margin-left: 40px;
}

.progress-outer {
	position: absolute;
	left: 5px;
	top: 6px;
}

.progress-bg {
	background: -webkit-linear-gradient(left, #0296ac, #109886, #eac100, #f91403);
	background: linear-gradient(to right, #0296ac, #109886, #eac100, #f91403);
	-webkit-transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;
	transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;
	position: relative;
	width: 270px;
	height: 10px;
	border-radius: 2px;
	border: 1px solid #086475
}

.progress-bg::before {
	content: "";
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	border-radius: 10px;
	-webkit-animation: progress-active 2.4s cubic-bezier(.23, 1, .32, 1) infinite;
	animation: progress-active 2.4s cubic-bezier(.23, 1, .32, 1) infinite
}

.progress-bg2::before {
	-webkit-animation: progress-active2 2.4s cubic-bezier(.23, 1, .32, 1) infinite;
	animation: progress-active2 2.4s cubic-bezier(.23, 1, .32, 1) infinite
}

.progress-bg3::before {
	-webkit-animation: progress-active3 2.4s cubic-bezier(.23, 1, .32, 1) infinite;
	animation: progress-active3 2.4s cubic-bezier(.23, 1, .32, 1) infinite
}

.progress-bg4::before {
	-webkit-animation: progress-active4 2.4s cubic-bezier(.23, 1, .32, 1) infinite;
	animation: progress-active4 2.4s cubic-bezier(.23, 1, .32, 1) infinite
}

@-webkit-keyframes progress-active {
	0% {
		opacity: .1;
		width: 0
	}
	20% {
		opacity: .5;
		width: 0
	}
	to {
		opacity: 0;
		width: 100%
	}
}

@keyframes progress-active {
	0% {
		opacity: .1;
		width: 0
	}
	20% {
		opacity: .5;
		width: 0
	}
	to {
		opacity: 0;
		width: 100%
	}
}

@-webkit-keyframes progress-active2 {
	0% {
		opacity: .1;
		width: 0
	}
	18% {
		opacity: .5;
		width: 0
	}
	to {
		opacity: 0;
		width: 80%
	}
}

@keyframes progress-active2 {
	0% {
		opacity: .1;
		width: 0
	}
	18% {
		opacity: .5;
		width: 0
	}
	to {
		opacity: 0;
		width: 80%
	}
}

@-webkit-keyframes progress-active3 {
	0% {
		opacity: .1;
		width: 0
	}
	10% {
		opacity: .5;
		width: 0
	}
	to {
		opacity: 0;
		width: 58%
	}
}

@keyframes progress-active3 {
	0% {
		opacity: .1;
		width: 0
	}
	10% {
		opacity: .5;
		width: 0
	}
	to {
		opacity: 0;
		width: 58%
	}
}

@-webkit-keyframes progress-active4 {
	0% {
		opacity: .1;
		width: 0
	}
	5% {
		opacity: .5;
		width: 0
	}
	to {
		opacity: 0;
		width: 20%
	}
}

@keyframes progress-active4 {
	0% {
		opacity: .1;
		width: 0
	}
	5% {
		opacity: .5;
		width: 0
	}
	to {
		opacity: 0;
		width: 20%
	}
}

.right-fix {
	position: absolute;
	right: 20px;
	top: 120px;
	z-index: 1030;
}

.towerElevator-monitor {
	width: 305px;
}

.towerElevator-monitor--content {
	position: relative;
	height: 260px;
	border-top: 1px solid #57a7aa;
	border-bottom: 1px solid #57a7aa;
}

.tower-monitor {
	border: 2px solid #367d86;
	width: 290px;
	height: 110px;
	margin: 12px 0 0 10px;
}

.elevator-monitor {
	border: 2px solid #367d86;
	width: 290px;
	height: 110px;
	margin: 12px 0 0 10px;
}

.img-model {
	border-right: 2px solid #367d86;
	float: left;
	width: 172px;
	height: 106px;
	position: relative;
	background: url("../img/arrow.png") no-repeat left top;
	overflow: hidden;
}

.img-model img {
	position: absolute;
	bottom: 0;
	transition: all .34s ease 0s;
}

.img-model:hover img {
	transform: scale(1.1);
}

.arrow-sign {
	position: absolute;
	width: 50px;
	height: 50px;
	transform: rotate(-45deg);
	font-size: 0.875rem;
	text-align: center;
	color: #0c212a;
	left: 0;
	top: 0;
}

.tower-monitor img {
	left: 30px;
}

.elevator-monitor img {
	left: 75px;
}

.personnel-monitor {
	width: 305px;
	margin-top: 25px;
}

.personnel-monitor--content {
	position: relative;
	height: 256px;
	border-top: 1px solid #57a7aa;
	border-bottom: 1px solid #57a7aa;
	padding-top: 18px;
	padding-left: 18px;
}

.vertical-line {
	position: absolute;
	width: 15px;
	left: -28px;
	top: -2px;
}

.vertical-line-large {
	background: url("../img/line_big.png") no-repeat;
	height: 460px;
}

.vertical-line-middle {
	background: url("../img/line_middle.png") no-repeat;
	height: 252px;
}

.vertical-line-small {
	background: url("../img/line_small.png") no-repeat;
	height: 209px;
}

.curr-police {
	float: left;
	width: 90px;
	height: 90px;
	border: 2px solid #48707a;
	background-color: #143c4b;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	color: #9fc1cb;
}

.police-details {
	float: left;
	background-color: #10313c;
	margin-left: 10px;
	width: 178px;
	padding: 0;
	height: 90px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

.police-details p {
	font-size: 0.875rem;
	color: #6f96a1;
	padding: 0 0 0 8px;
	margin: 0;
}

.police-details span {
	margin-right: 3px;
}

.equipment-amount {
	color: #9fc1cb;
	font-size: 1.125rem;
	text-align: center;
	height: 50px;
	line-height: 50px;
}

.equipment-status-list {
	display: flex;
}

.status-item {
	border-top: 2px solid transparent;
	font-size: 1.625rem;
	flex: 1;
	text-align: center;
	height: 54px;
	line-height: 54px;
	margin-right: 3px;
	transition: border-top-width .2s ease-in;
}

.status-item:last-child {
	margin-right: 0;
}

.status-item:hover {
	border-top-width: 4px;
}

.status-green {
	color: #08c055;
	text-shadow: 0 0 4px rgba(12, 129, 61, 0.5);
	border-top-color: #08c055;
}

.status-red {
	color: #f92801;
	text-shadow: 0 0 4px rgba(159, 3, 6, 0.5);
	border-top-color: #f92801;
}

.status-yellow {
	color: #ffde01;
	text-shadow: 0 0 4px rgba(116, 98, 3, 0.5);
	border-top-color: #ffde01;
}

.personnel-item {
	width: 134px;
	height: 115px;
	background-color: #173037;
	margin: 12px 8px 0 0;
	float: left;
	color: #9fc1cb;
}

.personnel-item .t {
	background-color: #0a4251;
	height: 26px;
	text-align: center;
	line-height: 26px;
}

.personnel-item .list {
	padding: 10px 0 0 10px;
}

.personnel-item .list p {
	margin: 0;
	padding: 0;
	font-size: 1rem;
	transition: all .2s ease;
}

.personnel-item .list p:hover {
	transform: scale(1.05);
}

.bottom-fix {
	position: absolute;
	width: 1920px;
	bottom: 20px;
	left: 0;
	z-index: 1040;
}

.video-monitor {
	width: 668px;
	float: left;
	margin-left: 40px;
}

.video-monitor--content {
	position: relative;
	height: 205px;
	border-top: 1px solid #57a7aa;
	border-bottom: 1px solid #57a7aa;
	padding-top: 25px;
}

.door-monitor {
	float: left;
	width: 508px;
	margin-left: 62px;
}

.door-monitor--content {
	position: relative;
	height: 205px;
	border-top: 1px solid #57a7aa;
	border-bottom: 1px solid #57a7aa;
}

.env-monitor {
	float: left;
	width: 536px;
	margin-left: 73px;
}

.env-monitor--content {
	position: relative;
	height: 205px;
	padding-top: 25px;
	border-top: 1px solid #57a7aa;
	border-bottom: 1px solid #57a7aa;
}

.monitor-item {
	float: left;
	margin-left: 24px;
}

.monitor-item:first-child {
	margin-left: 14px;
}

.monitor-item-control {
	background-color: rgba(2, 71, 86, 0.8);
	color: #9fc1cb;
	font-size: 1.25rem;
	width: 26px;
	height: 92px;
	padding-top: 4px;
	text-align: center;
	line-height: 1.1;
	position: relative;
	float: left;
	z-index: 999;
}

.monitor-item-control::before {
	position: absolute;
	content: '';
	border: 1px solid rgba(8, 88, 99, 0.8);
	width: 16px;
	height: 100px;
	z-index: 1;
	left: -4px;
	top: -4px;
}

.monitor-item-control span {
	position: relative;
	z-index: 2;
}

.monitor-item-main {
	width: 128px;
	height: 138px;
	background-image: url("../img/monitor_normal.png");
	background-repeat: no-repeat;
	position: relative;
	margin-left: 12px;
	-webkit-transition: all .2s cubic-bezier(0.68, 0.4, 1, 1);
	transition: all .2s cubic-bezier(0.68, 0.4, 1, 1)
}

.monitor-item-bell .monitor-item-main {
	background-image: url("../img/monitor_red.png");
}

.monitor-item-bell .monitor-item-control {
	background-color: rgba(147, 30, 8, .8);
}

.monitor-item-bell .monitor-item-control::before {
	border-color: rgba(155, 27, 3, .8);
}

.monitor-item-bell .equip-no {
	color: #f92801;
}

.monitor-item-main:hover {
	transform: translate3d(2px, 2px, 0);
}

.equip-no {
	font-size: 2rem;
	color: #a3c2d0;
	position: absolute;
	right: 10px;
	bottom: 10px;
	line-height: 40px;
}

.env-item {
	float: left;
	margin-left: 15px;
}

.env-item:first-child {
	margin-left: 12px;
}

.env-info {
	background: url("../img/cycle.png") no-repeat;
	width: 117px;
	height: 117px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	transform-origin: 95% 40%;
	transition: all 0.3s ease-in-out;
}

.env-info:hover {
	transform: rotate(-10deg);
}

.env-info-lg {
	flex-flow: column nowrap;
}

.env-info .num {
	color: #a2c5d2;
	font-size: 1.5rem;
}

.env-info .unit {
	color: #a3c2d0;
	font-size: 0.625rem;
	margin: 8px 0 0;
}

.env-info-lg .unit {
	margin: 2px 0 0;
}

.env-type {
	border-bottom: 2px solid #458192;
	width: 44px;
	text-align: center;
	margin: 12px auto 0;
	color: #5690a1;
	font-size: 1rem;
	display: block;
	cursor: pointer;
	-webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
}

.env-type:hover {
	border-bottom-width: 4px;
}

div[class$="-monitor--content"]::before,
div[class$="-monitor--content"]::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 3px;
	background-color: #2fa5ba;
	border-radius: 3px;
	left: 100%;

	-webkit-animation: dott-te 2.3s cubic-bezier(.645, .045, .355, 1);
	animation: dott-te 2.3s cubic-bezier(.645, .045, .355, 1);

}

div[class$="-monitor--content"]::before {
	top: -2px;
}

div[class$="-monitor--content"]::after {
	bottom: -2px;
}

@-webkit-keyframes dott-te {
	0% {
		left: 0;
		opacity: .1;
	}
	40% {
		left: 0;
		opacity: .5;
	}
	to {
		left: 100%;
		opacity: 1;
	}
}

@keyframes dott-te {
	0% {
		left: 0;
		opacity: .1;
	}
	40% {
		left: 0;
		opacity: .5;
	}
	to {
		left: 100%;
		opacity: 1;
	}
}

.door-info-panel {
	position: absolute;
	width: 450px;
	height: 167px;
	background: url("../img/door.png") no-repeat;
	left: 35px;
	top: 25px;
}

.door-item {
	position: absolute;
}

.door-item .t {
	color: #06adcb;
	font-size: 1.125rem;
}

.door-item .num {
	color: #78e7ff;
	font-size: 1.375rem;
	transition: all .3s ease-in-out;
}

.door-item.manager, .door-item.supervisor {
	left: 55px;
	top: 30px;
}

.door-item.manager .t, .door-item.supervisor .t {
	margin-left: 14px;
}

.door-item.manager .num, .door-item.supervisor .num {
	margin-top: 6px;
}

.door-item.supervisor {
	top: 124px;
}

.door-item.supervisor .t {
	margin-left: 18px;
}

.door-item.supervisor .num {
	margin-left: 8px;
}

.door-item.incoming, .door-item.constructors {
	left: 380px;
	top: 26px;
}

.door-item.incoming .num, .door-item.constructors .num {
	margin: 6px 0 0 8px;
}

.door-item.constructors {
	top: 122px;
}

.door-item:hover .num {
	transform: translate3d(5px, 0, 0);
}