.main___2jCiI {
	width: 892px;
	height: 648px;
	background: url("../img/form_bg.png") no-repeat;
	overflow: hidden;
	margin: 130px auto 0
}

.main___2jCiI-con {
	border: 2px solid #038f95;
	border-radius: 6px;
	width: 800px;
	height: 466px;
	padding: 1px;
	margin: 92px 0 0 46px;
}

.main___2jCiI-border{
	border: 4px solid #03686c;
	box-shadow: 0 0 4px #039aa1 inset;
	border-radius: 4px;
	padding: 50px 90px 50px 20px;
	background: rgba(11, 32, 39, .8);
}

.main___2jCiI-border .form-group{
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.main___2jCiI-border .form-group label{
	flex: 0 0 120px;
	text-align: center;
	color: #02b3bb;
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
	margin-bottom: 0;
	font-size: 1.75rem;
	overflow: hidden;
}

.main___2jCiI-border .form-group input, .main___2jCiI-border .form-group select{
	background-color: #026268;
	border: 0 none;
	border-radius: 4px;
	color: #1cafb8;
	box-shadow: 0 1px 0 rgba(3, 171, 178, .75), 0 0 1px #013e42 inset;
	font-size: 1.75rem;
	height: 62px;
	padding-left: 15px;
}

.main___2jCiI-border .form-group input::placeholder{
	color: #1cafb8;
}

.icon-profile{
	background: url("../img/profile.png") no-repeat center center;
	text-indent: -99em;
}

.icon-lock{
	background: url("../img/lock.png") no-repeat center center;
	text-indent: -99em;
}

.ant-btn {
	line-height: 1.5;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border: 1px solid #d9d9d9;
	white-space: nowrap;
	padding: 0 15px;
	font-size: 14px;
	border-radius: 4px;
	height: 32px;
	-webkit-user-select: none;
	user-select: none;
	-webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
	transition: all .3s cubic-bezier(.645, .045, .355, 1);
	position: relative;
	color: rgba(0, 0, 0, .65);
	background-color: #fff;
}

.ant-btn,
.ant-btn:active,
.ant-btn:focus {
	outline: 0
}

.ant-btn:not([disabled]):hover {
	text-decoration: none
}

.ant-btn:not([disabled]):active {
	outline: 0;
	-webkit-transition: none;
	transition: none
}

.ant-btn-primary {
	width: 556px;
	margin-top: 29px;
	height: 62px;
	color: #fff;
	background-color: #05c0ca;
	border-color: #05c0ca;
	margin-left: 120px;
	font-size: 1.75rem;
}

.ant-btn-primary:focus,
.ant-btn-primary:hover {
	color: #fff;
	background-color: #059ca4;
	border-color: #059ca4
}